<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FORGET PASSWORD?</title>
  <link rel="stylesheet" href="../static/css/info.css">
</head>
<body>
  <nav>
  </div>
    <a href="index.html">HOME PAGE</a>
  </nav>
  
  <div class="container">
    <header>
      <h1>FORGET PASSWORD?</h1>
      <p>Please contact us!</p>
    </header>

    <section class="info">
      <div class="text-block">
        <h2>Our contact information is on the picture</h2>
        <p>Please show us your identification documents and we will recover your password in time.</p>
      </div>
      <div class="image-block">
        <img src="{{ url_for('static', filename='images/contact_information.jpg') }}" alt="CONTACT INFORMATION">
      </div>
    </section>

  </div>
</body>
</html>