<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <nav>
    </div>
    <a href="{{ url_for('homepage') }}">HOME PAGE</a>
    </nav>
    <div class="login-container">
        <img src="{{ url_for('static', filename='images/logo.png') }}"> 
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Username:</label>
            <input type="email" id="email" name="email" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <a href="{{ url_for('register') }}">Register here</a></a>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <a href="forgot_password.html">FORGET PASSWORD?</a>
    </div>
</body>
</html>
